[Unit]
Description=Print Time Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /usr/bin/print_time.py

[Install]
WantedBy=multi-user.target
